#content {
  font-family:Andale Mono, monospace;
  color: dark green;
  margin-left:50px;
  margin-top:50px;
}
body {
  background-image: url(../images/royalty-free-sales.jpg);
}
a {
  color:black;
}
